.u-section-1 .u-sheet-1 {
  min-height: 972px;
}

.u-section-1 .u-text-1 {
  width: 880px;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 40px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 378px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-1 .u-link-1 {
  font-style: italic;
  margin: 32px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 378px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 42px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-link-2 {
  font-style: italic;
  margin: 32px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 378px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-1 .u-link-3 {
  font-style: italic;
  margin: 32px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 369px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-1 .u-link-4 {
  font-style: italic;
  margin: 32px auto 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 390px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 29px 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 31px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-1 .u-link-5 {
  font-style: italic;
  margin: 33px auto 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 390px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 34px auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 31px 0 0;
}

.u-section-1 .u-link-6 {
  font-style: italic;
  margin: 33px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 305px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 305px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 341px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.25rem;
  text-align: left;
  margin: 12px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 44px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 225px;
}

.u-section-2 .u-container-layout-1 {
  padding: 6px 24px;
}

.u-section-2 .u-image-1 {
  height: 191px;
  width: 213px;
  margin: 21px auto -21px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 225px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  height: 207px;
  width: 213px;
  margin: 27px auto -11px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 225px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 3px;
}

.u-section-2 .u-image-3 {
  height: 185px;
  width: 243px;
  margin: 27px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 225px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-image-4 {
  height: 177px;
  width: 177px;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -17px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 53px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-2 .u-image-1 {
    height: 168px;
    width: 187px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-2 .u-image-2 {
    height: 124px;
    width: 128px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 186px;
  }

  .u-section-2 .u-image-3 {
    height: 135px;
    width: 228px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 186px;
  }

  .u-section-2 .u-image-4 {
    height: 128px;
    width: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -8px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 44px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 119px;
    width: 132px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 12px 10px;
  }

  .u-section-2 .u-image-3 {
    height: 100px;
    width: 173px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 84px;
    width: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1795px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 649px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-2 .u-image-2 {
    height: 103px;
    width: 212px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2 .u-image-3 {
    height: 77px;
    width: 260px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 187px;
  }

  .u-section-2 .u-image-4 {
    height: 117px;
    width: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 75px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 118px;
  }
}